.about-header h1{
    text-align: center;
    font-family: 'Anton';
    padding: 0;
    margin-bottom: 0;
}

.about-header hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.about-grid{
    text-align: center;
    justify-content: center;
    width: 90%;
    height: auto;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.about-grid h3{
    font-family: 'Anton';
    padding: 0;
    font-style: oblique;
}

.about-grid h5{
    font-family: 'Anton';
    font-style: oblique;
}

.testimonials{
    font-family: "Alegrya";
    font-style: italic;
    margin-left: 5px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pretty{
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: 700;
    margin-left: 60%; /*%*/
    font-size: 18px;
}

.description {
    font-family: 'Allegrya';
    font-size: 18px;
    margin-left: 5px;
    text-align: left;
}

.about-grid h4{
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    text-decoration-line: underline;
}

.about-page hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sponsors h3{
    font-family: 'Anton';
    padding: 0;
    font-style: oblique;
    text-align: center;
    margin-bottom: 0;
}

.sponsors p{
    margin: 0;
    font-family: "Allegyra";
    font-size: 20px;
    text-align: left;
}

.sponsors i{
    font-size: 50px;
}

.sponsors i:hover{
    color: rgb(77, 34, 34);
}

.sponsor-grid{
    width: 50%;
    margin-bottom: 0;
}