.actor-page h1{
    text-align: center;
    font-family: 'Anton';
    padding: 0;
    margin-bottom: 0;
    font-size: 3.5vw;
  }
  
  .actor-page hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #profile{
    height: 30vw; /*500px*/
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }

  .actor-grid{
    width: 80%; /*80%*/
    background-color: rgba(183, 212, 175, 0.678);
    border-radius: 20px;
  }

  .category{
    font-size: 2vw; /*30px*/
    font-family: "Alegry";
    font-style: oblique;
  }

  .info{
    font-size: 1.3vw; /*20px*/
    font-family: 'Alegrya';
    margin-top: 0;
  }

  .rhs hr{
    border-top: 0.2vw dotted black; /*3px*/
    width: 100%;
    margin: auto;
  }

  .rhs h3{
    text-align: center;
    font-family: "Alegrya";
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 2vw;
  }

  .role{
    margin-top: 10px;
    font-size: 2vw; /*30px*/
    text-align: center;
  }