.people h1{
  text-align: center;
  font-family: 'Anton';
  padding: 0;
  margin-bottom: 0;
  font-size: 3.5vw;
}

.people hr{
  border-top: 0.4vw dotted black; /*5px*/
  width: 50%;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

.projects-grid{
    display: flex;
  }

  .card {
    /*width: 300px; /*300px*/
    /*height: 300px; /*300px*/
    margin: auto;
    margin-bottom: 40px;
    transition: all .2s ease-in-out;
  }

  .card:hover{
    transform: scale(1.1);
  }

  /*
  .card a{
      color: white;
      font-family: Allan;
      margin-top: 250px;
      font-size: 35px;
      height: 50px;
      padding-top: 20px;
      padding-left: 8px;
      background-color: black;
  }*/

  .link{
    color: white;
    margin: auto;
  }

  .link:hover{
    color: white;
  }

  .about{
    color: white;
    font-family: Allan;
    margin-top: 16.5vw; /*250px*/
    border: none;
    text-align: left;
    font-size: 2.2vw; /*35px*/
    height: 3vw; /*50px*/
    padding-bottom: 0.5vw;
    padding-top: 1vw; /*13px*/
    background-color: black;
    padding-left: 0.5vw; /*5px*/
  }

  .about:hover{
    color: white;
  }
/*
  .about:hover{
    background: #a80077; 
    background: -webkit-linear-gradient(to right, #66ff00, #a80077);  
    background: linear-gradient(to right, #66ff00, #a80077); 
    color: black;
  }*/